@import "vars"

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .main-grid
    grid-template-columns: 20px 1fr 20px
    grid-template-rows: 860px auto
    grid-column-gap: 20px
    grid-row-gap: 20px
    .headeer-block__header
      grid-column-start: 1
      grid-column-end: 4
    .headeer-block_header__text-block
      margin-top: 40px
      margin-bottom: 40px
      grid-column-start: 2
      grid-column-end: 3
      align-self: flex-start
      .headeer-block_header_text-block__text
        p
          display: block
          writing-mode: horizontal-tb
          &:nth-child(1)
            margin-left: 0
            font-size: 70px
            transform: translateY(6px) rotate(0)
          &:nth-child(2)
            font-size: 130px
            margin-left: 0
            transform: translateY(9px) rotate(0)
          &:nth-child(3)
            font-size: 40px
            font-weight: 400
            margin-left: 0
            transform: translateY(6px) rotate(0)
