@use 'sass:math'
@use 'sass:color'

@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

*
	color: #404653

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

h1, h2, h3, h4, h5, p
	margin: 0

p
	line-height: 175%
	margin-top: .67em
	.bold
		font-weight: 600
	i
		margin-right: 10px

.lg-lg-grey-bg
	background-color: $lg-lg-grey
.lg-grey-bg
	background-color: $lg-grey
.container
	width: 100%
	padding: 40px
	.block
		display: flex
		margin: 0 auto
		width: 100%
		max-width: 1024px
		.side-block
			background-color: $lg-grey
			width: 320px
			padding: 40px
			//потом убрать
			margin-right: 1px
			border-radius: 5px
			img
				display: block
				border: 2px solid $dk-grey
				border-radius: 5px
				width: 200px
				margin: 0 0 0 auto
			h3
				margin-top: .35em
		.txt-block
			flex-grow: 1
			background-color: $lg-grey
			padding: 40PX




::selection
	background-color: $accent
	color: #fff

@import "media" // Всегда в конце
