@use 'sass:math'
@use 'sass:color'

@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: $dk-grey
	opacity: 1

*:-moz-placeholder
	color: $dk-grey
	opacity: 1

*::-moz-placeholder
	color: $dk-grey
	opacity: 1

*:-ms-input-placeholder
	color: $dk-grey
	opacity: 1

*
	color: $dk-dk-grey

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $dk-grey
body input:required:valid,
body textarea:required:valid
	color: $dk-grey

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

h1, h2, h3, h4, h5, p, a
	margin: 0
	line-height: 1.75
h2
	font-weight: 900
	font-size: 30px
	line-height: 1.75
	letter-spacing: .02em
	text-transform: uppercase
h3, h4
	font-weight: 700
	letter-spacing: .02em
h3
	font-size: 24px
h4
	font-size: 20px
p
	font-weight: 300
a
	position: relative
	text-decoration: none
	color: $accent
	&:before
		content: ""
		position: absolute
		left: 0
		bottom: -3px
		width: 0
		height: 1px
		background-color: $accent
		transition: .2s
	&:hover
		&:before
			width: 100%


.main-grid
	display: grid
	grid-template-columns: 1fr max-content minmax(300px, 700px) 1fr
	grid-template-rows: 830px auto
	grid-column-gap: 40px
	grid-row-gap: 40px

	.headeer-block__header
		background-color: $dk-dk-grey
		grid-row-start: 1
		grid-row-end: 2
		grid-column-start: 1
		grid-column-end: 5
	.headeer-block_header__text-block
		display: grid
		margin-top: 100px
		margin-bottom: 60px
		grid-column-start: 2
		grid-column-end: 3
		grid-row-start: 1
		grid-row-end: 2
		align-self: flex-end
		grid-column-gap: 20px
		.headeer-block_header_text-block__text
			height: fit-content
			p
				display: inline-block
				writing-mode: vertical-rl
				color: $white
				font-weight: 900
				text-transform: uppercase
				&:nth-child(1)
					margin-left: -30px
					font-size: 70px
					transform: translateY(6px) rotate(180deg)
				&:nth-child(2)
					font-size: 130px
					margin-left: -70px
					transform: translateY(9px) rotate(180deg)
				&:nth-child(3)
					font-size: 40px
					font-weight: 400
					margin-left: -60px
					transform: translateY(6px) rotate(180deg)
		.sm-block
			grid-column-start: 2
			// margin: auto auto 0
			display: grid
			grid-gap: 30px
			grid-template-rows: repeat(4, max-content)
			height: fit-content
			align-self: flex-end
			margin-bottom: 6px
			a
				height: 35px
				opacity: .5
				transition: .2s
				&:hover
					opacity: 1
					box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5)
					transform: translateY(-1px)
				&::before
					display: none
				i
					color: $white
					font-size: 40px


	.main-text-block
		margin-top: 100px
		margin-bottom: 100px
		grid-row-start: 1
		grid-row-end: 3
		grid-column-start: 3
		grid-column-end: 4
		.text-block
			margin-top: 60px
			&:first-child
				margin-top: 0
			p, a
				line-height: 1.75
				margin-top: 20px
				&:first-child
					margin-top: 0
			&.white
				p
					color: $white

			img
				width: 100%
			.chapter-block
				margin-top: 20px
				.year-title
					position: relative
					color: $dk-grey
					display: inline-block
					font-size: 20px
					font-weight: 700
					transition: .2s
					&:before
						content: ""
						position: absolute
						width: 0
						height: 2px
						left: 0
						bottom: 2px
						background-color: $accent
						transition: .2s
				&:hover
					.year-title
						color: $accent
						&:before
							width: 100%
				h3
					display: inline-block
					margin-right: 20px
				p
					margin-top: 10px

	.side-ext-bar
		grid-row-start: 2
		grid-row-end: 3
		grid-column-start: 2
		grid-column-end: 3
		padding: 60px 40px
		background-color: $lg-lg-grey
		border-radius: 5px
		height: fit-content
		.side-chapter-block
			margin-top: 40px
			div
				margin-top: 10px

				a
					color: $dk-dk-grey
					transition: .2s
					&:before
						display: none
				i
					margin-right: 15px
					font-size: 20px
					color: $dk-grey
					transform: translateY(2px)
					transition: .2s
				&:hover
					i
						color: $accent
					a
						color: $accent
			p
				position: relative
				font-weight: normal
				margin-top: 10px
				transition: .2s
				&:before
					content: ""
					position: absolute
					width: 0
					height: 2px
					top: 12px
					left: -15px
					background-color: $accent
					border-radius: 4px
				&:hover
					margin-left: 15px
					color: $accent
					&:before
						width: 8px
		a
			&.btn
				display: inline-block
				width: 100%
				color: $white
				padding: 18px
				text-align: center
				text-decoration: none
				line-height: 1.2
				font-weight: 700
				background-color: $accent
				border-radius: 100px
				box-shadow: 0px 4px 30px rgba(255, 0, 15, 0.2)
				transition: .2s
				&:hover
					box-shadow: 0px 4px 30px rgba(255, 0, 15, 0.4)
					transform: translateY(-1px)
				&:before
					display: none
				i
					color: $white
					margin-right: 15px
					font-size: 20px
					transform: translateY(2px)


::selection
	background-color: $accent
	color: #fff

@import "media" // Всегда в конце
